<!-- <a routerLink="/weather">
    Weather
</a>

<a routerLink="/cities">
    Cities
</a>

<a routerLink="/countries">
    Countries
</a> -->

<header>
  <mat-toolbar class="space-x-2" color="primary">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
    </button>

    <a mat-flat-button color="primary" [routerLink]="['/countries']"
      >Countries</a
    >
    <a mat-flat-button color="primary" [routerLink]="['/cities']">Cities</a>
    <span class="separator"></span>
      @if(authService.authStatusSignal()) {
        <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a>
      } @else {
        <a mat-flat-button color="primary" [routerLink]="['/login']">Login</a>
      }
  </mat-toolbar>
</header>
